<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.AnswerMapper">

	<select id="getAnswer" resultType="net.skhu.VO.Answer">
		SELECT
		a.*,admin.name as adminName
		FROM
		answer a left join admin   
		ON
		a.adminId=admin.id
		WHERE 
		a.articleId = #{id}
	</select>
	
	<insert id="insert">
		INSERT
		answer(adminId,message,time,articleId) 
		VALUES
		(#{adminId},#{message},NOW(),#{articleId});
	</insert>
	
	</mapper>