<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.ExcelMapper">

	<insert id="setMyRecord" parameterType="java.util.List">
		insert into my_course_record ( studentId, year, semester, courseId, credits , grade ) values
		<foreach collection="list" item="item" separator="," >
			( #{item.studentId}, #{item.year}, #{item.semester}, #{item.courseId}, #{item.credits} , #{item.grade} )
		</foreach>
	</insert>
  
</mapper>