table.table.table-bordered.mt5{
	margin-top: 5px;
}
span#circle.active a{
	color: #16A085;
	}
span#circle.active{
	background-color: #fff;
	color: #16A085;
	border: 2px solid #16A085;
}
span#circle {
	font-size: 1.2em;
	width: 2em;
	border-radius: 6em;
	padding: .2em .4em;
	line-height: 1.5em;
	display: inline-block;
	text-align: center;
	color: #fff;
	background-color: #16A085;
	
}
span#circle a{
	text-decoration: none;
	color: #fff;
}

div.searchboard {
	margin-left: 400px;
}

div.board search-bar .searchboard {
	display: inline-block;
}

a.searchWord {
	margin-left: 250px;
}

button.searchWord, a.searchWord {
	color: #fff;
	background-color: #16A085;
	padding: 5px;
	display: inline-block;
	font-weight: bold;
}

div.searchword1 {
	display: inline-block;
	margin-bottom: 12px;
}

.clear {
	clear: both;
}

#blog div.order ul.orderBy li a {
	text-decoration: none;
	color: black;
}

#blog div.order ul.orderBy {
	margin-left: 490px;
}

div.morethan8 {
	color: #16A085;
	font-weight: bold;
	margin-left: 520px;
	margin-top: 20px;
}

#blog div.order ul.orderBy li.active a {
	color: #16A085;
}

#blog div.order ul.orderBy li a:hover {
	color: #fff;
}

#blog div.order ul.orderBy li:hover {
	background-color: #16A085;
}

#blog div.order ul.orderBy li {
	display: inline-block;
	border: 2px solid #16A085;
	padding: 5px;
	border-radius: 4px;
	color: black;
	font-weight: bold;
}

form .searchWord {
	border: 2px solid #16A085;
	border-radius: 0px;
}

#blog div.blog-sidebar .single-sidebar {
	border: 2px solid #16A085;
	border-radius: 5px;
}

div.single-sidebar #title {
	color: #16A085;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 15px;
}

tbody tr:hover {
	background-color: #16A085;
	color: #fff;
}

#portfolio .notice {
	text-align: right;
}

#portfolio .notice a {
	background-color: transparent;
	font-size: 15px;
	font-weight: bold;
	border: 2px solid #16A085;
	color: #16A085;
	padding: 14px;
}

div#write a, div#mylist a {
	background-color: transparent;
	font-size: 15px;
	font-weight: bold;
	border: 2px solid #16A085;
	color: #16A085;
	padding: 10px;
}

#portfolio .notice a:hover, div#write a:hover, div#mylist a:hover {
	background-color: #16a085;
	color: #fff;
	text-decoration: none;
}

div.list {
	text-align: center;
	margin-top: 20px;
}

.single-comments textarea {
	border: 0px solid rgba(255, 255, 255, 1);
	color: #FFFFFF;
	margin: 0 0 5px;
	width: 100%;
	background-color: #16A085;
}

.single-comments .button {
	background-color: transparent;
	font-size: 13px;
	font-weight: 500;
	border: 2px solid #16A085;
	color: #16A085;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 5px;
	display: inline-block;
}

.single-comments #edit {
	padding-left: 20px;
	padding-right: 20px;
}

.single-comments .button:hover {
	background-color: #16a085;
	color: #fff;
	text-decoration: none;
}

#portfolio p#yes {
	text-align: right;
	color: #16A085;
	font-weight: 100;
}

#portfolio p#no {
	text-align: right;
	color: #ffaba0;
	font-weight: 200;
}